/* ImageUploadForm.css */
.upload-container {
  margin-top: 50px;
  width: 800px;
  height: 500px;
}

.upload-form {
  background-color: #cababa;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.upload-form label {
  font-weight: bold;
}

.upload-progress {
  text-align: center;
  margin-top: 20px;
}

/* Adjust the size of the input bar */
.upload-form input[type="file"] {
  /* Adjust width and padding as needed */
  width: 100%; /* Set to 100% to span the entire width of the form */
  padding: 10px; /* Increase or decrease padding as needed */
  margin-bottom: 10px; /* Adjust margin as needed */
}

/* ImageViewer.css */
.upload-container {
  margin-top: 50px;
  width: 800px;
  height: 500px;
}
.review-btn {
  margin-top: 20px;
}

.image-item {
  margin-bottom: 20px;
}
