/* ImageUploadForm.css */
.upload-container {
  margin: 0 auto; /* Center the container horizontally */
  margin-top: 50px;
  width: 800px;
  height: 500px;
}

.upload-form {
  background-color: #F9EFDB;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.upload-form label {
  font-weight: bold;
}

.upload-progress {
  text-align: center;
  margin-top: 20px;
}

.upload-form input[type="file"] {
  width: 100%; 
  padding: 10px; 
  margin-bottom: 10px; 
}

/* ImageViewer.css */
.view-container {
  margin: 0 auto; /* Center the container horizontally */
  margin-top: 200px;
  width: 800px;
  height: 500px;
}
.review-btn {
  margin-top: 20px;
  background-color: #EBD9B4; /* Change button background color */
  color: black;
  font-weight: bold;
}

.image-item {
  margin-bottom: 20px;
}
